export OAUTH2_CLIENT_ID="DummyClientId"
export OAUTH2_CLIENT_SECRET="DummyClientSecret"
export OAUTH2_AUTHORIZE_ENDPOINT="https://oauth-mock.mock.beeceptor.com/oauth/authorize"
export OAUTH2_TOKEN_ENDPOINT="https://oauth-mock.mock.beeceptor.com/oauth/token/github"
export OAUTH2_APP_ENDPOINT="http://localhost:3000"
